@media screen and (max-width: 480px){
    .category_selector{
        .category{
            .cat_info{
                font-size: 12px;
            }
        }
    }
    .app-contianer{
        position: relative;
        max-height: 100%;
    }
}